<div class="main-content">
  <div class="header">
    <p>Lista de Motoristas</p>
  </div>
  <div class="dash">
    <div style="background: #ECECEC; padding:30px;">
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Total Motoristas">
            <p>{{ totalDrivers | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Motoristas Ativos">
            <p>{{ totalActiveDrivers | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Motoristas Inativos">
            <p>{{ totalInactiveDrivers | number }}</p>
          </nz-card>
        </div>
      </div>

    </div>
  </div>
  <div class="filter">
    <input [(ngModel)]="searchValue" (ngModelChange)="search()" nz-input placeholder="Pesquisar..." type="text"/>
    <button (click)="openDriverDrawer()" nz-button nzType="primary">Novo Motorista</button>
  </div>
  <div class="table-container">
    <div class="table-scroll">
      <nz-table #nzTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '800px', y: '280px' }" nzTableLayout="fixed">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Descrição do Carro</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let driver of listOfDisplayData">
          <td>{{ driver.Name }}</td>
          <td>{{ driver.Phone }}</td>
          <td>{{ driver.CarDescription }}</td>

          <td>
            <nz-tag [nzColor]="driver.status === 'ATIVO' ? 'green' : 'red'">
              {{ driver.status }}
            </nz-tag>
          </td>
          <td>{{ driver.createdAt | date: 'dd MM yyyy - HH:mm' }}</td>
          <td>
            <button (click)="deleteDriver(driver)" nz-button nzType="link" nzDanger>
              <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
            </button>

            <button (click)="editDriver(driver)" nz-button nzType="link" nzSize="small">
              <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
            </button>
            <button (click)="deleteDriver(driver)" nz-button nzType="link" nzSize="small" nzDanger>
              <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
            </button>

          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- Driver Drawer -->
<nz-drawer
  [nzVisible]="isDriverDrawerVisible"
  [nzWidth]="480"
  nzTitle="Novo Motorista"
  [nzBodyStyle]="{ overflow: 'auto' }"
  (nzOnClose)="closeDriverDrawer()"
  [nzFooter]="nzDriverDrawerFooter"
>
  <form *nzDrawerContent [formGroup]="driverForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input placeholder="Nome do motorista">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Telefone</nz-form-label>
      <nz-form-control>
        <input formControlName="phone" nz-input placeholder="Número de telefone">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Descrição do Carro</nz-form-label>
      <nz-form-control>
        <input formControlName="carDescription" nz-input placeholder="Descrição do carro">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status" nzPlaceHolder="Selecione o status">
          <nz-option nzValue="ACTIVO" nzLabel="ACTIVO"></nz-option>
          <nz-option nzValue="INACTIVO" nzLabel="INACTIVO"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #nzDriverDrawerFooter>
    <button nz-button (click)="closeDriverDrawer()">Cancelar</button>
    <button nz-button nzType="primary" (click)="submitDriver()" [disabled]="!driverForm.valid">Salvar</button>
  </ng-template>
</nz-drawer>
