<div class="main-content">
  <div class="header">
    <p>Lista de Motoristas</p>
  </div>
  <div class="dash">
    <div style="background: #ECECEC; padding:30px;">
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Total Motoristas">
            <p>{{ totalDrivers | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Motoristas Ativos">
            <p>{{ totalActiveDrivers | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Motoristas Inativos">
            <p>{{ totalInactiveDrivers | number }}</p>
          </nz-card>
        </div>
      </div>

    </div>
  </div>
  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar..." type="text"/>
    <button (click)="openDriverDrawer()" nz-button nzType="primary">Novo Motorista</button>
  </div>
  <div class="table-container">
    <div class="table-scroll">
      <nz-table #nzTable
                [nzData]="listOfDisplayData"
                [nzScroll]="{ x: '800px', y: '280px' }"
                nzTableLayout="fixed">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Descrição do Carro</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let driver of listOfDisplayData">
          <td>{{ driver.Name }}</td>
          <td>{{ driver.Phone }}</td>
          <td>{{ driver.CarDescription }}</td>

          <td>
            <nz-tag [nzColor]="driver.status === 'ACTIVO' ? 'green' : 'red'">
              {{ driver.status }}
            </nz-tag>
          </td>
          <td>{{ driver.createdAt | date: 'dd MM yyyy - HH:mm' }}</td>
          <td>
            <button (click)="deleteDriver(driver)" nz-button nzDanger nzType="link">
              <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
            </button>

            <button (click)="editDriver(driver)" nz-button nzSize="small" nzType="link">
              <nz-icon nzTheme="outline" nzType="edit"></nz-icon>
            </button>
            <button
              (click)="deleteDriver(driver)"
              nz-button nzDanger nzSize="small"
              nzType="link">
              <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
            </button>

          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- Driver Drawer -->
<nz-drawer
  (nzOnClose)="closeDriverDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="nzDriverDrawerFooter"
  [nzTitle]="driverDrawerTitle"
  [nzVisible]="isDriverDrawerVisible"
  [nzWidth]="480"
>
  <form *nzDrawerContent [formGroup]="driverForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input placeholder="Nome do motorista">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Telefone</nz-form-label>
      <nz-form-control>
        <input formControlName="phone" nz-input placeholder="Número de telefone">
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzRequired>Descricao do carros</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="carDescription" nzPlaceHolder="Selecione a Descrição do carro">
          <nz-option nzLabel="7m3-HINO RANGER" nzValue="7m3-HINO RANGER"></nz-option>
          <nz-option nzLabel="18m3-TATA AMARELO" nzValue="18m3-TATA AMARELO"></nz-option>
          <nz-option nzLabel="20m3-TATA AZUL" nzValue="20m3-TATA AZUL"></nz-option>
          <nz-option nzLabel="22m3-SINOTRUCK" nzValue="22m3-SINOTRUCK"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status" nzPlaceHolder="Selecione o status">
          <nz-option nzLabel="ACTIVO" nzValue="ACTIVO"></nz-option>
          <nz-option nzLabel="INACTIVO" nzValue="INACTIVO"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #nzDriverDrawerFooter>
    <button (click)="closeDriverDrawer()" nz-button>Cancelar</button>
    <button (click)="submitDriver()" [disabled]="!driverForm.valid" nz-button nzType="primary">Salvar</button>
  </ng-template>
</nz-drawer>
