<div class="container">

  <nz-avatar nzIcon="user" nzSize="large" class="avatar"></nz-avatar>
  <div class="header">
    <p>Registrar User</p>
  </div>
  <form nz-form [formGroup]="signinForm" (ngSubmit)="submitForm()" class="form-container">
    <nz-form-item>
      <nz-form-label nzFor="name" [nzSm]="6" [nzXs]="24" nzRequired>Nome</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="email" [nzSm]="6" [nzXs]="24" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="email" formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="phone" [nzSm]="6" [nzXs]="24" nzRequired>Telefone</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="phone" id="phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="login" [nzSm]="6" [nzXs]="24" nzRequired>Login</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="login" id="login" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" [nzSm]="6" [nzXs]="24" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" formControlName="password" id="password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="role" [nzSm]="6" [nzXs]="24" nzRequired>Função</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="role" id="role">
          <nz-option nzValue="USER" nzLabel="Usuário"></nz-option>
          <nz-option nzValue="ADMIN" nzLabel="Administrador"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="signinForm.invalid">Registrar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
