.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Centraliza verticalmente */
}

.avatar {
  margin-bottom: 16px;
}

.form-container {
  width: 100%;
  max-width: 800px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


