<div class="container">

  <nz-avatar class="avatar" nzIcon="user" nzSize="large"></nz-avatar>
  <div class="avatar">
    <p>Registrar User</p>
  </div>
  <form (ngSubmit)="submitForm()" [formGroup]="signinForm" class="form-container" nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Nome</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input formControlName="name" id="name" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input formControlName="email" id="email" nz-input type="email"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Telefone</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input formControlName="phone" id="phone" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired>Login</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input formControlName="login" id="login" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input formControlName="password" id="password" nz-input type="password"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>Função</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="role" id="role">
          <nz-option nzLabel="Usuário" nzValue="USER"></nz-option>
          <nz-option nzLabel="Administrador" nzValue="ADMIN"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="14">
        <button [disabled]="signinForm.invalid" nz-button nzType="primary">Registrar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
