<mat-card class="recibo-card">
  <mat-card-title>Recibo de Pagamento</mat-card-title>
  <mat-card-content>
    <div class="recibo-info">
      <p><strong>Cliente:</strong> {{ cliente }}</p>
      <p><strong>Data:</strong> {{ data | date }}</p>
      <p><strong>Descrição:</strong> {{ descricao }}</p>
      <p><strong>Valor:</strong> {{ valor | currency:'MZN' }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="gerarPDF()" color="primary" mat-raised-button>Gerar PDF</button>
  </mat-card-actions>
</mat-card>
