.main-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ajusta o conteúdo à altura disponível no componente pai */
  padding: 20px;
  box-sizing: border-box; /* Evita que o padding aumente o tamanho total */
}

.details-wrapper {
  display: flex;
  gap: 20px; /* Espaçamento entre os cards */
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que os cards se ajustem para o próximo "line" se não couberem */
  margin-top: 20px;
}

.details-card, .debt-card {
  flex: 1 1 calc(50% - 20px); /* Os cards ocupam 50% da largura menos a margem */
  min-width: 300px; /* Define uma largura mínima para os cards */
  height: auto; /* Altura ajustável conforme o conteúdo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.debt-cards-wrapper {
  display: flex;
  gap: 20px; /* Espaçamento entre os dois novos cards */
  justify-content: space-between;
}

.debt-summary-card {
  flex: 1;
  height: 100%; /* Garante que ambos os cards tenham a mesma altura */
}

.debt-summary-content {
  font-size: 36px; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Deixa o texto em negrito */
  color: #007bff; /* Cor azul */
  background-color: #f1f1f1; /* Cor de fundo suave, semelhante a um painel */
  padding: 20px;
  border-radius: 8px; /* Borda arredondada */
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao redor para destacar o card */
  margin: 10px 0; /* Adiciona margem para separar os cards */
}
.debt-summary-content-txt{
  padding: 20px;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
