/* ============================= */
/* Estilos para a div FILTER (Campo de entrada e botão) */
/* ============================= */
.filter {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o input e o botão */
  margin-bottom: 12px;
}

.input-flex {
  flex: 1; /* Faz o input ocupar todo o espaço disponível */
  min-width: 200px; /* Define um tamanho mínimo */
}

button[nz-button] {
  white-space: nowrap; /* Garante que o botão não quebre a linha */
}
