/* ============================= */
/* Estilos para a div MAIN-CONTENT */
/* ============================= */
.main-content {
  /* Se precisar de estilos globais para o container principal */
}

/* ============================= */
/* Estilos para a div HEADER (Cabeçalho) */
/* ============================= */
.header {
  /* Estilos para o cabeçalho */
}

/* ============================= */
/* Estilos para a div DASH (Painel de cartões) */
/* ============================= */
.dash {
  /* Estilos para a seção de dashboard */
}

/* ============================= */
/* Estilos para a div FILTER (Campo de entrada e botão) */
/* ============================= */


.input-flex {
  flex: 1; /* Faz o input ocupar o máximo de espaço possível */
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

/* ============================= */
/* Estilos para a div TABLE (Tabela de dados) */
/* ============================= */
.table {

  height: 80%; /* Define que a tabela ocupará 80% da largura da página */
  margin: 0 auto;
  /* Estilos para a tabela */
}

/* ============================= */
/* Estilos para a div SEARCH-BOX (Filtro de pesquisa dentro da tabela) */
/* ============================= */
.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
